@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2603 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2603 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2603 0 0);
  --primary: oklch(0.5484 0.2619 298.7801);
  --primary-foreground: oklch(0.9911 0 0);
  --secondary: oklch(0.9791 0 0);
  --secondary-foreground: oklch(0.5484 0.2619 298.7801);
  --muted: oklch(0.9791 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.9791 0 0);
  --accent-foreground: oklch(0.5484 0.2619 298.7801);
  --destructive: oklch(0.6202 0.2106 25.8582);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9401 0 0);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0.7337 0.1564 305.0428);
  --chart-1: oklch(0.8202 0.1302 84.7665);
  --chart-2: oklch(0.7993 0.1099 204.0924);
  --chart-3: oklch(0.4199 0.1703 266.6762);
  --chart-4: oklch(0.9208 0.0798 125.5035);
  --chart-5: oklch(0.9206 0.1008 116.7085);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0.2603 0 0);
  --sidebar-primary: oklch(0.5484 0.2619 298.7801);
  --sidebar-primary-foreground: oklch(0.9911 0 0);
  --sidebar-accent: oklch(0.9791 0 0);
  --sidebar-accent-foreground: oklch(0.329 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7699 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1398 0 0);
  --foreground: oklch(0.9791 0 0);
  --card: oklch(0.1398 0 0);
  --card-foreground: oklch(0.9791 0 0);
  --popover: oklch(0.1398 0 0);
  --popover-foreground: oklch(0.9791 0 0);
  --primary: oklch(0.5484 0.2619 298.7801);
  --primary-foreground: oklch(0.2113 0.0098 285.5322);
  --secondary: oklch(0.2707 0.0092 285.7705);
  --secondary-foreground: oklch(0.5484 0.2619 298.7801);
  --muted: oklch(0.2707 0.0092 285.7705);
  --muted-foreground: oklch(0.7112 0.0101 286.1413);
  --accent: oklch(0.2707 0.0092 285.7705);
  --accent-foreground: oklch(0.5484 0.2619 298.7801);
  --destructive: oklch(0.3992 0.13 25.8027);
  --destructive-foreground: oklch(0.9711 0.0097 17.3233);
  --border: oklch(0.2707 0.0092 285.7705);
  --input: oklch(0.2707 0.0092 285.7705);
  --ring: oklch(0.4056 0.2138 295.7019);
  --chart-1: oklch(0.5288 0.1901 262.223);
  --chart-2: oklch(0.7014 0.1303 165.3621);
  --chart-3: oklch(0.7196 0.1501 60.492);
  --chart-4: oklch(0.62 0.2005 312.9154);
  --chart-5: oklch(0.6107 0.21 6.3998);
  --sidebar: oklch(0.2113 0.0098 285.5322);
  --sidebar-foreground: oklch(0.9702 0 0);
  --sidebar-primary: oklch(0.5484 0.2619 298.7801);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2707 0.0092 285.7705);
  --sidebar-accent-foreground: oklch(0.9702 0 0);
  --sidebar-border: oklch(0.2707 0.0092 285.7705);
  --sidebar-ring: oklch(0.8692 0.0109 286.1702);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Hauora';
  src: url(../public/fonts/Hauora-Regular.ttf);
}

@font-face {
  font-family: 'Hauora';
  src: url(../public/fonts/Hauora-ExtraBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Hauora';
  src: url(../public/fonts/Hauora-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'FluentSystemIcons-Regular';
  src: url(../public/fonts/FluentSystemIcons-Regular.ttf);
}

@font-face {
  font-family: 'FluentSystemIcons-Filled';
  src: url(../public/fonts/FluentSystemIcons-Filled.ttf);
}

body {
  font-family: 'Hauora', sans-serif;
  min-height: 100vh;
}

.colorpicker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorpicker::-webkit-color-swatch {
  border: none;
  border-radius: 2px;
}

.colorpicker::-moz-color-swatch {
  border: none;
  border-radius: 2px;
  padding: 0;
}
