@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "Hauora";
  src: url(../public/fonts/Hauora-Regular.ttf);
}

@font-face {
  font-family: "Hauora";
  src: url(../public/fonts/Hauora-ExtraBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "FluentSystemIcons-Regular";
  src: url(../public/fonts/FluentSystemIcons-Regular.ttf);
}

@font-face {
  font-family: "FluentSystemIcons-Filled";
  src: url(../public/fonts/FluentSystemIcons-Filled.ttf);
}

.icon {
  font-family: "FluentSystemIcons-Regular";
}

.icon-f {
  font-family: "FluentSystemIcons-Filled";
}

.h-scroll {
  height: var(--content-h);
}
